In [1]:
import pandas as pd
dados = pd.read_csv('../dados/AIRPOL_data.csv', delimiter=";", header=0)

# Removendo colunas com valores nulos
dados = dados.drop(columns=['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'])
dados

,Country,NUTS_Code,Air_Pollutant,Outcome,Affected_Population,Populated_Area[km2],Air_Pollution_Average[ug/m3],Value
0,Albania,AL,NO2,Asthma,"2337443,00","11299,00","5,50","103,00"
1,Albania,AL,PM2.5,Asthma,"456076,00","11299,00","11,30","231,00"
2,Albania,AL0,NO2,Asthma,"2337443,00","11299,00","5,50","103,00"
3,Albania,AL0,PM2.5,Asthma,"456076,00","11299,00","11,30","231,00"
4,Albania,AL03,PM2.5,Asthma,"149508,00","4041,50","11,30","69,00"
...,...,...,...,...,...,...,...,...
49135,Turkey,TR822,NO2,Stroke,"213615,00","7473,50","9,00","3,00"
49136,Turkey,TRB12,NO2,Stroke,"447268,00","8860,40","12,40","291,00"
49137,Turkey,TRB14,NO2,Stroke,"76591,00","5506,60","12,00","17,00"
49138,Turkey,TRB21,NO2,Stroke,"696344,00","17511,10","11,20","25,00"
49139,Turkey,TRB22,NO2,Stroke,"362047,00","7990,70","14,30","150,00"

In [7]:
# Filtrar oa dados para os valores pedidos
dados_filtrados = dados.filter(['Country','NUTS_Code','Air_Pollution_Average[ug/m3]'])
# Restringir a análise aos valores de Portugal
dados_filtrados_portugal = dados_filtrados[dados_filtrados['Country'] == 'Portugal']
# Remover as colunas "Country" e "NUTS_Code"
dados_filtrados_portugal = dados_filtrados_portugal.drop(columns=['Country', 'NUTS_Code'])
# Retirar uma amostra aleatória de 50 valores de níveis médios de poluição do ar
dados_filtrados_portugal_50 = dados_filtrados_portugal.sample(n=50)
dados_filtrados_portugal_50

      Air_Pollution_Average[ug/m3]
39843                         7,60
39427                         7,30
21831                         6,90
39369                         9,50
39525                        92,70
31467                         6,80
39845                         5,80
39947                         5,90
39322                         7,90
39841                         6,80
10296                         7,10
39356                         6,70
39749                         7,10
39341                         7,00
39428                         6,90
39405                        10,80
39377                         3,40
3201                          5,80
39625                         4,30
39697                         3,20
39998                         7,10
39386                         3,20
39601                         3,40
39289                         9,50
39635                         3,40
39240                         4,00
39991                         7,30
39687                         4,90
11383                         7,60
40041                         4,00
40100                         7,10
39499                        95,70
39493                        95,90
39765                         6,90
39733                         3,10
39569                         4,50
39806                         7,20
11375                         6,80
39396                         5,80
39339                         6,50
39262                         5,90
39874                         7,10
3207                          6,50
39523                         7,90
39767                         5,80
19026                         6,80
39529                         6,90
7974                          6,50
40012                         3,80
39850                         9,50