# 4.2.2.
2. Use esta amostra para testar se o número médio dos níveis de poluição atmosférica em **Portugal** é 
inferior ao número homólogo na **Albânia**.

## *Imports* estáticos

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Leitura de Ficheiros

In [47]:
dados = pd.read_csv('../dados/AIRPOL_data.csv', delimiter=";", header=0)
dados = dados.drop(columns=['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'])

# Dados Filtrados

In [48]:
dados_filtrados = dados[dados['Country'].isin(['Portugal', 'Albania'])]
dados_filtrados

,Country,NUTS_Code,Air_Pollutant,Outcome,Affected_Population,Populated_Area[km2],Air_Pollution_Average[ug/m3],Value
0,Albania,AL,NO2,Asthma,"2337443,00","11299,00","5,50","103,00"
1,Albania,AL,PM2.5,Asthma,"456076,00","11299,00","11,30","231,00"
2,Albania,AL0,NO2,Asthma,"2337443,00","11299,00","5,50","103,00"
3,Albania,AL0,PM2.5,Asthma,"456076,00","11299,00","11,30","231,00"
4,Albania,AL03,PM2.5,Asthma,"149508,00","4041,50","11,30","69,00"
...,...,...,...,...,...,...,...,...
46554,Portugal,PT1,PM2.5,Diabetes Mellitus,"7556343,00","39647,40","7,30","734,00"
46603,Albania,AL,PM2.5,Stroke,"1950993,00","11299,00","11,30","825,00"
46605,Albania,AL0,PM2.5,Stroke,"1950993,00","11299,00","11,30","825,00"
47082,Portugal,PT,PM2.5,Stroke,"7556343,00","39647,40","7,30","972,00"
47087,Portugal,PT1,PM2.5,Stroke,"7556343,00","39647,40","7,30","972,00"

# Amostra 4.2.1

## Dados médios de 50 aleatórios de O3 Portugal

In [49]:

dados_filtrados_portugal = dados_filtrados[dados_filtrados['Country'] == 'Portugal']
dados_filtrados_portugal = dados_filtrados_portugal[['Country', 'NUTS_Code', 'Air_Pollution_Average[ug/m3]']]
dados_filtrados_portugal['Air_Pollution_Average[ug/m3]'] = dados_filtrados_portugal['Air_Pollution_Average[ug/m3]'].str.replace(',', '.').astype(float)

# Sample 50 random rows
dados_filtrados_portugal_50 = dados_filtrados_portugal.sample(n=50, random_state=1)
dados_filtrados_portugal_50

        Country NUTS_Code  Air_Pollution_Average[ug/m3]
1548   Portugal     PT16H                           5.8
3187   Portugal      PT15                           5.2
3188   Portugal     PT11E                           6.5
3189   Portugal     PT181                           6.7
3191   Portugal     PT150                           5.2
...         ...       ...                           ...
46181  Portugal       PT1                           7.3
46553  Portugal        PT                           7.3
46554  Portugal       PT1                           7.3
47082  Portugal        PT                           7.3
47087  Portugal       PT1                           7.3

[870 rows x 3 columns]        Country NUTS_Code  Air_Pollution_Average[ug/m3]
422    Albania     AL033                           4.5
107    Albania     AL031                          11.2
181    Albania     AL034                           9.8
214    Albania     AL021                           5.2
381    Albania     AL014                          11.4
180    Albania     AL033                           9.6
36360  Albania     AL032                          13.8
190    Albania       AL0                          11.3
34     Albania        AL                          11.3
392    Albania        AL                           5.5
67     Albania     AL013                           4.2
85     Albania     AL035                          10.7
294    Albania     AL014                          11.4
256    Albania     AL015                           4.3
402    Albania     AL013                           4.2
467    Albania     AL034                           5.8
437    Albania      AL02                           6.0
31249  Albania     AL015                          10.3
171    Albania     AL014                          11.4
234    Albania      AL02                           6.0
22294  Albania     AL021                          11.0
31     Albania     AL034                           5.8
436    Albania      AL02                          12.1
332    Albania     AL021                          11.0
209    Albania     AL013                          10.1
132    Albania      AL03                          99.3
376    Albania     AL015                          10.3
25695  Albania     AL011                          10.0
149    Albania     AL031                          11.2
356    Albania     AL035                          10.7
202    Albania     AL012                          14.3
206    Albania     AL015                           4.3
309    Albania       AL0                          11.3
4      Albania      AL03                          11.3
342    Albania      AL02                          12.1
465    Albania     AL033                           4.5
384    Albania     AL031                          11.2
340    Albania        AL                          11.3
275    Albania     AL013                           4.2
259    Albania     AL032                          13.8
473    Albania     AL021                           5.2
47     Albania      AL01                          10.9
418    Albania     AL012                          14.3
66     Albania     AL013                           4.2
452    Albania     AL022                           7.5
137    Albania      AL02                          12.1
62     Albania     AL022                           7.5
409    Albania     AL031                           5.8
5      Albania      AL02                          12.1
351    Albania     AL012                          14.3

## Dados médios em 50 aleatórios de O3 Albania

In [50]:
dados_filtrados_albania = dados_filtrados[dados_filtrados['Country'] == 'Albania']
dados_filtrados_albania = dados_filtrados_albania[['Country', 'NUTS_Code', 'Air_Pollution_Average[ug/m3]']]
dados_filtrados_albania['Air_Pollution_Average[ug/m3]'] = dados_filtrados_albania['Air_Pollution_Average[ug/m3]'].str.replace(',', '.').astype(float)

# Sample 50 random rows
dados_filtrados_albania_50 = dados_filtrados_albania.sample(n=50, random_state=1)  # random_state=1 ensures reproducibility
dados_filtrados_albania_50

       Country NUTS_Code  Air_Pollution_Average[ug/m3]
422    Albania     AL033                           4.5
107    Albania     AL031                          11.2
181    Albania     AL034                           9.8
214    Albania     AL021                           5.2
381    Albania     AL014                          11.4
180    Albania     AL033                           9.6
36360  Albania     AL032                          13.8
190    Albania       AL0                          11.3
34     Albania        AL                          11.3
392    Albania        AL                           5.5
67     Albania     AL013                           4.2
85     Albania     AL035                          10.7
294    Albania     AL014                          11.4
256    Albania     AL015                           4.3
402    Albania     AL013                           4.2
467    Albania     AL034                           5.8
437    Albania      AL02                           6.0
31249  Albania     AL015                          10.3
171    Albania     AL014                          11.4
234    Albania      AL02                           6.0
22294  Albania     AL021                          11.0
31     Albania     AL034                           5.8
436    Albania      AL02                          12.1
332    Albania     AL021                          11.0
209    Albania     AL013                          10.1
132    Albania      AL03                          99.3
376    Albania     AL015                          10.3
25695  Albania     AL011                          10.0
149    Albania     AL031                          11.2
356    Albania     AL035                          10.7
202    Albania     AL012                          14.3
206    Albania     AL015                           4.3
309    Albania       AL0                          11.3
4      Albania      AL03                          11.3
342    Albania      AL02                          12.1
465    Albania     AL033                           4.5
384    Albania     AL031                          11.2
340    Albania        AL                          11.3
275    Albania     AL013                           4.2
259    Albania     AL032                          13.8
473    Albania     AL021                           5.2
47     Albania      AL01                          10.9
418    Albania     AL012                          14.3
66     Albania     AL013                           4.2
452    Albania     AL022                           7.5
137    Albania      AL02                          12.1
62     Albania     AL022                           7.5
409    Albania     AL031                           5.8
5      Albania      AL02                          12.1
351    Albania     AL012                          14.3

### Retirada de Amostras e Execução de Testes

1. Selecionar amostras aleatórias de 50 valores de média aleatória para cada país.
2. Assumir que ambas as medías da as amostras são normais pelo TLC(Teorema de limite central)
   1. Assumir que Amostras ambas independentes.
   2. Assumir variância desconhecda e diferentes.
      1. Assumimos que Variancias da ambas as amostras são diferentes.
3. Fazer testes paramétricos adequados (Welsh)

In [51]:

# Ho: media de Portugal inferior a media de Albania 
# H1: media de Portugal superior  ou igual a media de Albania
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(dados_filtrados_portugal_50['Air_Pollution_Average[ug/m3]'], dados_filtrados_albania_50['Air_Pollution_Average[ug/m3]'], equal_var=False, alternative='greater')

# Print the results
print("t-statistic:", t_statistic)
print("p-value:", p_value)



# 5. Decisão com base no p-valor (nível de significância α = 0.05)
alpha = 0.05
if p_value < alpha:
    print("Rejeita-se H₀: Portugal tem uma média de poluição superior ou igual à da Albânia.")
else:
    print(" Não há evidência suficiente para rejeitar H₀: logo, não se pode afirmar que Portugal tem uma média de poluição superior ou igual à da Albânia.")

t-statistic: 0.5664128666259778
p-value: 0.2863823717539636
 Não há evidência suficiente para rejeitar H₀: logo, não se pode afirmar que Portugal tem uma média de poluição superior ou igual à da Albânia.